* {
padding:0;
margin:auto;
vertical-align:baseline;
list-style:none;
border:none;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.4);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top right, #0ba360 0%, #3faf82 100%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	}

#Linhas{
	width:100px;
	height:55px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	box-sizing: border-box;
	border-radius:10px;
	padding:0px;
	background-color: Transparent;
  border:none;
}

#Linha1,#Linha2,#Linha3{
	background-color:#fff;
	height:10px;
	width:100px;
	box-shadow:0 0 18px 0 rgb(0,0,0,0.4);
	border-radius:8px;
	margin:0 auto;
	}

@keyframes Linha1_Animacao{
	0%{
    translate:0px 0px;
		rotate:0deg;}
	50%{
		translate:0px 22px;
		rotate:0deg;}
	100%{
		translate:0px 22px;
		rotate:45deg;}
}

@keyframes Linha2_Animacao{
	0%{		
    transform:scale(1);	
		opacity:1;}
	100%{	
		transform:scale(0);	
		opacity:0;}
}

@keyframes Linha3_Animacao{
	0%{
		translate:0px 0px;
		rotate:0deg;}
	50%{
		translate:0px -22px;
		rotate:0deg;}
	100%{
		translate:0px -22px;
		rotate:135deg;}
}
